@use 'variables';
@use 'mixins';

.footer{
	margin-top: 3.5rem;
	border-top: 1px solid lightgray;
	padding: 4%;
	display: flex;
	justify-content: space-between;
	font-size: 0.875rem;

	&__text{
		color: #909097;
	}

	&__link{
		color: rgb(77, 109, 209);
	}
}